.mainBlock {
  margin: 40px 0 0 0;
}

.columnsContainer {
  height: 1000px;
  padding: 10px 0 10px 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: #adadbd;
}

@media (max-width: 1000px) {
  .columnsContainer {
    flex-direction: column;
    align-items: center;
  }
}

.columnNameInput {
  width: 210px;
}

.columnBorder {
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  width: 230px;
  height: fit-content;
  background-color: #e6e6e6;
  margin: 10px;
}

.cardsContainer {
}

.boardCard {
  border-radius: 5px;
  background: white;
  text-align: start;
  width: 100%;
  height: 25px;
  margin: 10px 0 10px 0;
  text-indent: 10px;
}